<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title></title>
		<link type="text/css" href="<%=template_hash[:css_dir]%>/styles.css" rel="stylesheet" />	
		<link type="text/css" href="<%=template_hash[:css_dir]%>/jquery-lightness.css" rel="stylesheet" />	
		<link type="text/css" href="<%=template_hash[:css_dir]%>/colorbox.css" rel="stylesheet" />	
		
		<script type="text/javascript" src="<%=template_hash[:js_dir]%>/jquery-1.4.4.js"></script>				
		<script type="text/javascript" src="<%=template_hash[:js_dir]%>/jquery-ui-1.8.6.custom.min.js"></script>
		<script type="text/javascript" src="<%=template_hash[:js_dir]%>/jquery.masonry.js"></script>
		<script type="text/javascript" src="<%=template_hash[:js_dir]%>/jquery.colorbox.js"></script>
		<script type="text/javascript" src="<%=template_hash[:js_dir]%>/page.js"></script>
		
	</head>