<!DOCTYPE html>
<html>
<head>
  <title>Depgal</title>

	<%= include_stylesheets :common %>
	<%= include_javascripts :common, :plugins %>
	<%= include_javascripts :gallery %>

  <%= csrf_meta_tag %>
</head>
<body>
	<div id="content">
		<%= yield %>
	
	</div>
</body>
</html>
